<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      text-align: center;

    }
  </style>
  <title>
    <%= error %> Error
  </title>
</head>

<body>
  <h1>
    <%= error %> Error
  </h1>

  <h2>
    <%= message %>
      <br>
      <a href="<%= link %>">Click here, friend</a><br>
  </h2>

  <img src="https://http.cat/<%= error %>" alt="cat <%= error %> error">

</body>

</html>